:local(.search_box){
  margin-right:auto;
  display: flex;
  text-decoration: none;
  text-align: center;
}

:local(.search_button){
  background-color: inherit;
  border:none;
  text-decoration: none;
}

:local(.search_button:hover){
  cursor: pointer;
}

:local(.search_button:focus){
  outline:none;
}

:local(.search_button svg){
  width: 40px;
  height: 40px;
  fill: white
}

:local(.search_button svg:hover){
  fill: violet
}


:local(.search_input){
  background-color: inherit;
  border:0;
  text-decoration: none;
  outline:none;
  border-bottom:1px solid white;
}

:local(.search_input:focus){
  border-bottom:1px solid rgb(208, 252, 208);
}
