:local(.search_box){
  margin-right:auto;
  display: flex;
  text-decoration: none;
  text-align: center;
  color:white;
}

:local(.search_button){
  background-color: inherit;
  border:none;
  text-decoration: none;
}

:local(.search_button:hover){
  cursor: pointer;
}

:local(.search_button:focus){
  outline:none;
}

:local(.search_button svg){
  width: 30px;
  height: 30px;
  fill: white
}

:local(.search_button svg:hover){
  fill: rgb(248, 228, 174)
}


:local(.search_input){
  background-color: inherit;
  border:0;
  text-decoration: none;
  width: 70%;
  color: white;
  outline:none;
  border-bottom:1px solid white;
}

:local(.search_input:focus){
  border-bottom:1px solid rgb(248, 228, 174);
}
