:local(.navbar){
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.84);
  margin: 0;
  padding: 20px;
  font-size: 120%;
  color: white;
  
  position: fixed;
  left: 0;
  right:0;
  top:20px;
  z-index: 1;

  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

:local(.center_right_group){
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-right: auto;
}

:local(.center_right_group_item){
  text-decoration: none;
  text-align: center;
  padding: 20px;
}

:local(.center_right_group_item:hover){
  cursor: pointer;
  animation-name: center_right_group_item;
  animation-duration: .75s;
  animation-fill-mode: forwards;
}
:local(@keyframes center_right_group_item){
  form {}
  to {color: #53e769;}
}

:local(.center_right_group_active){
  color: #c1f0c9;
}

:local(.login:hover){
  cursor: pointer;
  animation-name: login-hover;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
:local(@keyframes login-hover) {
  from {}
  to {color: rgb(188, 188, 223)}
}

:local(.left_group){
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-right: auto;
}

:local(.left_group_item){
  text-decoration: none;
  text-align: center;

  margin-left:auto;
  padding: 20px;
}

:local(.signup:hover){
  cursor: pointer;
  animation-name: signup-hover;
  animation-duration: .25s;
  animation-fill-mode: forwards;
}
:local(@keyframes signup-hover ){
  from {}
  to {color: rgb(245, 189, 189);}
}

:local(.center_left_group){
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-right: auto;
  margin-left: auto;
}

:local(.icon){
  font-size: 200%;
  color:white;
  /* background-color: white */
}

:local(.icon:hover){
  cursor: pointer;
}

:local(.right_group){
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  /* margin-right: auto; */
  margin-left: auto;
}

.menu-icon{
  display: none;
  margin-left: auto;
  padding: 0;
  /* position: relative; */
}

@media all and (max-width: 1200px){
  .navbar li{
    flex-shrink: 1;
  }
  .navbar .menu-icon{
    display: block;
  }
  .navbar .nav-item{
    display: none;
  }
}
